repos:
- repo: https://github.com/sirwart/ripsecrets.git
  rev: v0.1.11
  hooks:
  - id: ripsecrets-system
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 3.0.0
  hooks:
    - id: shfmt
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
- repo: https://github.com/hukkin/mdformat
  rev: 1.0.0
  hooks:
  - id: mdformat
    additional_dependencies:
    - mdformat-black
    - mdformat-config
    # TODO: restore when it supports mdformat>=1.0.0
    # - mdformat-deflist
    - mdformat-frontmatter
    - mdformat-footnote
    - mdformat-gfm
    - mdformat-tables

ci:
  skip:
    - ripsecrets-system
    - shellcheck
    - shfmt
