repos:
- repo: https://github.com/sirwart/ripsecrets.git
  rev: v0.1.11
  hooks:
  - id: ripsecrets-system
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 3.0.0
  hooks:
    - id: shfmt
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
- repo: https://github.com/hukkin/mdformat
  rev: 1.0.0
  hooks:
  - id: mdformat
    additional_dependencies:
    - mdformat-ruff>=0.1.3
    - mdformat-config>=0.2.1
    - mdformat_deflist>=0.1.4
    - mdformat_frontmatter>=2.0.10
    - mdformat-footnote>=0.1.2
    - mdformat-gfm>=1.0.0

ci:
  skip:
    - ripsecrets-system
    - shfmt
